<marquee style=color:red><h2>Sonawane Somnath</h2></marquee>
<!-- <button (click)="increment()"> Addition</button>
<app-lifecycle [myNewNumber]="counter"[mynumber2]="name"></app-lifecycle>
<button (click)="decrement()"> Substration </button> -->
<!-- <app-root></app-root> -->
<!-- <app-subject></app-subject>-->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-react-form></app-react-form> -->
<!-- <app-templete-form></app-templete-form> -->
<app-reactive-form-array></app-reactive-form-array>
